@import "bootstrap/bootstrap";
$controls-background: #282d36;
$input-background: #15171e;
$input-border: #3c495b;
$input-border-hover: #67aee9;
$input-header: #e91e63;
$input-border-shadow: 0 0 8px rgba(101, 174, 232, .6);

#top-level-row {
    height: 100vh;
}

#controls {
    background: $controls-background;

    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 320px;
    box-sizing: border-box;

    #concept-header {
        text-align: center;
        color: white;

        padding-top: 25px;
        padding-bottom: 25px;
    }

    h4 {
        color: $input-header;
    }

    textarea {
        background: $input-background;
        border-color: $input-border;

        &:focus {
            border-color: $input-border-hover;
            box-shadow: $input-border-shadow;
        }
    }
}

#pixi-canvas-container {
    padding: 0;
    
    display: block;
    position: fixed;
    left: 320px;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}